version: "3.8"

services:
  influxdb:
    image: influxdb:1.8
    networks:
      - grafana-k6
    ports:
      - "8086:8086"
    environment:
      - INFLUXDB_DB=k6
    volumes:
      - influxdb-data:/var/lib/influxdb

  grafana:
    image: grafana/grafana:latest
    networks:
      - grafana-k6
    ports:
      - "3000:3000"
    environment:
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_BASIC_ENABLED=false
    depends_on:
      - influxdb
    volumes:
      - grafana-data:/var/lib/grafana
      - ./datasource.yaml:/etc/grafana/provisioning/datasources/datasource.yaml

  k6:
    image: grafana/k6
    networks:
      - grafana-k6
    volumes:
      - .:/io
    command: run --out influxdb=http://influxdb:8086/k6 /io/test.js
    depends_on:
      - influxdb

networks:
  grafana-k6:
    driver: bridge

volumes:
  influxdb-data:
  grafana-data:
